In [1]:
import os
import pandas

In [3]:
os.getcwd()

'D:\\Dropbox\\Udemy\\Python-Data-Science-and-Machine-Learning-Bootcamp\\Data-Analysis-with-Python-Pandas'

In [5]:
os.chdir("data")

In [6]:
os.getcwd()

'D:\\Dropbox\\Udemy\\Python-Data-Science-and-Machine-Learning-Bootcamp\\Data-Analysis-with-Python-Pandas\\data'

In [7]:
df1 = pandas.read_csv("Comma-Separated.txt")

In [8]:
df1.head()

,Year,Month,Day,Hour,Temp,DewTemp,Pressure,WindDir,WindSpeed,Sky,Precip1,Precip6
0,1912,4,1,6,114,94,10121,200,120,8,-9999,-9999
1,1912,4,1,9,146,96,10122,240,140,8,-9999,-9999
2,1912,4,2,6,172,122,10146,210,40,2,-9999,40
3,1912,4,2,9,193,-9999,10150,240,210,1,-9999,0
4,1912,4,2,12,188,125,10152,240,250,1,-9999,0

In [9]:
df2 = pandas.read_csv("Space-Separated.txt",sep=' ')

In [10]:
df2.head()

,Year,Month,Day,Hour,Temp,DewTemp,Pressure,WindDir,WindSpeed,Sky,Precip1,Precip6
0,1912,4,1,6,114,94,10121,200,120,8,-9999,-9999
1,1912,4,1,9,146,96,10122,240,140,8,-9999,-9999
2,1912,4,2,6,172,122,10146,210,40,2,-9999,40
3,1912,4,2,9,193,-9999,10150,240,210,1,-9999,0
4,1912,4,2,12,188,125,10152,240,250,1,-9999,0